<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block titre %}PRONOTE Élève{% endblock %}</title>
</head>
<body class="page-pronote">
    <header class="barre-haute">
        <div class="identite-etablissement">
            <strong>Lycée Noob Note</strong>
            <span>Espace Élève - {{ session.user.prenom }} {{ session.user.nom }}</span>
        </div>
        <a href="{{ url_for('logout') }}" class="btn-logout">Déconnexion</a>
    </header>

    <nav class="menu-principal">
        <a href="{{ url_for('eleve_mes_donnees') }}" class="onglet-menu {{ 'actif' if onglet_actif == 'mes_donnees' else '' }}">Mes données</a>
        <a href="{{ url_for('eleve_cahier_de_texte') }}" class="onglet-menu {{ 'actif' if onglet_actif == 'cahier_texte' else '' }}">Cahier de textes</a>
        <a href="{{ url_for('eleve_dashboard') }}" class="onglet-menu {{ 'actif' if onglet_actif == 'notes' else '' }}">Notes</a>
        <a href="{{ url_for('eleve_resultats') }}" class="onglet-menu {{ 'actif' if onglet_actif == 'resultats' else '' }}">Résultats</a>
        <a href="{{ url_for('eleve_vie_scolaire') }}" class="onglet-menu {{ 'actif' if onglet_actif == 'vie_scolaire' else '' }}">Vie scolaire</a>
        <a href="{{ url_for('eleve_emploi_du_temps') }}" class="onglet-menu {{ 'actif' if onglet_actif == 'emploi_du_temps' else '' }}">Emploi du temps</a>
    </nav>

    <main class="container-pronote contenu-ecran-eleve">
        {% block contenu %}{% endblock %}
    </main>
</body>
</html>